<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Установить
    план</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">План на месяц</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form action="/planer" method="post">
                <div class="modal-body">
                    {% for manager_deals in data%}
                    {% for manager, details in manager_deals.items() %}
                    <div class="row mx-2 my-2">
                        <div class="col-md-5">
                            <label for="message-text" class="form-label">{{manager}}:</label>
                        </div>
                        <div class="col-md-5">
                            {%if planer[manager]%}
                            <input type="number" class="form-control" id="{{manager}}" name="{{manager}}"
                                placeholder="{{planer[manager][0]}}">
                            {%else%}
                            <input type="number" class="form-control" id="{{manager}}" name="{{manager}}"
                                placeholder="">
                            {%endif%}
                        </div>
                        
                        <div class="col-md-2 form-check form-switch align-middle">
                            {%if planer[manager]%}
                            <input type="checkbox" class="form-check-input"  name="{{manager}}" id="{{manager}}" 
                            {%if planer[manager][1] == 'on'%} checked {%endif%}>
                            {%else%}
                            <input type="checkbox" class="form-check-input"  name="{{manager}}" id="{{manager}}">
                            {%endif%}
                        </div>

                    </div>
                    {%endfor%}
                    {%endfor%}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
